<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="projas.wse.elektro.um.pharmacoedu">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".materi.MateriActivity"
            android:label="@string/title_listmateri"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".tts.TTSActivity"
            android:label="@string/title_tts"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".ujian.UjianActivity"
            android:label="@string/title_soalno"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".materi.DetailMateriActivity"
            android:parentActivityName=".materi.MateriActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".tts.BoardActivity"
            android:parentActivityName=".tts.TTSActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>